* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  color: var(--color-texto);
}

body {
  background-color: var(--color-fondo-principal);
}

a {
  text-decoration: none;
  color: var(--color-texto);
}

button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}

input {
  border: none;
  outline: none;
}
